body{
	font-family: 'Montserrat', sans-serif;
}
#header-container,
#info-container{
	background-color: #8CBAD1;
	color: white;
}
/*.colum{
	border:1px solid red;
	flex-direction: column;
}
.row{
	border:1px solid blue;
}*/
#menu-container{
	background-color: #f7f7f9;
}
.btn.btn-platzi{
	background-color: #8CBAD1;
	color: white;
}
.btn.btn-platzi:hover{
	background-color: rgb(121, 176, 204);
	box-shadow: 0 0 3px rgba(0,0,0,.7);
}
input.form-control:focus{
	border-color: #99c84a;
}
#header-container .login,
#header-container .navbar-toggler{
	color:white;
}
#info-container h4{
	margin: 1em 0;
}
#info-container .row {
	padding-top: 25px;
}
#search-bar{
	margin-bottom: 1em;
}
#footer-container .input-group{
	margin-bottom: 1em;
}
#footer-container label{
	margin-top: 1em;
}
#footer-container button.form-text{
	margin-top: 0;
}
#footer-container{
	background-color: #1D2A33;
	color:white;
	padding: 3em 0;
}
#footer-container h4{
	font-weight: bold;
	font-size: 18px;
}
#footer-container .nav-link{
	color:white;
	padding: .2rem 1rem;
}
#breadcrumbs-container .breadcrumb{
	background-color: white;
	padding-left: 0;
}
#breadcrumbs-container .breadcrumb .breadcrumb-item{
	color:#1c3643;
}
#breadcrumbs-container .breadcrumb .breadcrumb-item.active{
	color: #95a5a6;
}
#filtros-container .list-group-item.active
{
	background-color: #99c84a;
	border-color:  #99c84a;
}

#productos-container .list-group+.list-group {
	margin-bottom: 1em;
}
#filtrosToggle{
	margin-bottom: .5em;
	outline: 0;
}
#filtrosToggle h5{
	margin-bottom: 0;
}

#productos-container .listado-productos{
	margin-bottom: 1em;
}
#productos-container .listado-productos .card{
	margin-bottom: .5em;
}
#paginator-container .page-item.active .page-link{
	background-color: #8CBAD1;
	border-color:  #8CBAD1;
}
.page-link,
.page-link:hover,
.page-item.disabled{
	color: #8CBAD1;
}

/* Pagina del carrito de compras */
.titulo-pedidos {
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
}
.box {
	border: 1px solid #ccc;
	padding: 5px;
	display: grid;
	grid-template-areas: "t1 t1"
						 "t2 p1"
						 "t3 p2"
						 "t4 p3"
						 "btn btn";
}
.t1 {
	grid-area: t1;
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
}
.t2 {
	grid-area: t2;
	text-align: left;
}
.t3 {
	grid-area: t3;
	text-align: left;
}
.t4 {
	grid-area: t4;
	text-align: left;
	font-weight: bold;
}
.p1 {
	grid-area: p1;
}
.p2 {
	grid-area: p2;
}
.p3 {
	grid-area: p3;
	font-weight: bold;
}
.resumen-pedido .btn {
	grid-area: btn;
}
/* Mis Pedidos */
.item {
	border: 1px solid #ccc;
	padding: 10px;
	display: grid;
	grid-template-columns: 250px 200px 120px 50px;
	grid-template-rows: 150px;
	gap: 12px;
	justify-items: center;
	align-items: center;
}
.sub-items {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 50px);
	gap: 50px;
}
.selection {
	display: grid;
	grid-template-columns: 70px 40px;
	grid-template-rows: 30px;
	gap: 8px;
}
.btn-close i {
	color: black;
}
#lista-compra {
	min-height: 60vh;
}
/* Mis Pedidos */

/* Pagina del carrito de compras */


@media(max-width: 768px){
	#footer-container [class *="col-"]{/*lo que va entre
		corchetes se lee así: todo elemento que tenga
		un atributo, se especifica el resto*/
		margin-bottom: 2em;
	}
}
