body{
	font-family: 'Montserrat', sans-serif;
}
#header-container,
#info-container{
	background-color: #8CBAD1;
	color: white;
}
/*.colum{
	border:1px solid red;
	flex-direction: column;
}
.row{
	border:1px solid blue;
}*/
#menu-container{
	background-color: #f7f7f9;
}
.btn.btn-platzi{
	background-color: #99c84a;
	color: white;
}
.btn.btn-platzi:hover{
	background-color: #8ab542;
}
input.form-control:focus{
	border-color: #99c84a;
}
#header-container .login,
#header-container .navbar-toggler{
	color:white;
}
#info-container h4{
	margin: 1em 0;
}
#info-container .row {
	padding-top: 20px;
}
#search-bar{
	margin-bottom: 1em;
}
#footer-container .input-group{
	margin-bottom: 1em;
}
#footer-container label{
	margin-top: 1em;
}
#footer-container button.form-text{
	margin-top: 0;
}
#footer-container{
	background-color: #1D2A33;
	color:white;
	padding: 3em 0;
}
#footer-container h4{
	font-weight: bold;
	font-size: 18px;
}
#footer-container .nav-link{
	color:white;
	padding: .2rem 1rem;
}
#breadcrumbs-container .breadcrumb{
	background-color: white;
	padding-left: 0;
}
#breadcrumbs-container .breadcrumb .breadcrumb-item{
	color:#1c3643;
}
#breadcrumbs-container .breadcrumb .breadcrumb-item.active{
	color: #95a5a6;
}
#filtros-container .list-group-item.active
{
	background-color: #99c84a;
	border-color:  #99c84a;
}

#productos-container .list-group+.list-group {
	margin-bottom: 1em;
}
#filtrosToggle{
	margin-bottom: .5em;
	outline: 0;
}
#filtrosToggle h5{
	margin-bottom: 0;
}

#productos-container .listado-productos{
	margin-bottom: 1em;
}
#productos-container .listado-productos .card{
	margin-bottom: .5em;
}
#paginator-container .page-item.active .page-link{
	background-color: #99c84a;
	border-color:  #99c84a;
}
.page-link,
.page-link:hover,
.page-item.disabled{
	color: #99c84a;
}

@media(max-width: 768px){
	#footer-container [class *="col-"]{/*lo que va entre
		corchetes se lee así: todo elemento que tenga
		un atributo, se especifica el resto*/
		margin-bottom: 2em;
	}
}
